/* Dashboard.css */

.dashboard-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #3498db;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.colleges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.college {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.college table {
  width: 100%;
  border-collapse: collapse;
}

.college th,
.college td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.college th {
  background-color: #f2f2f2;
}

.apply-button,
.withdraw-button {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}

.apply-button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
}

.withdraw-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
}
